@import "reset.css";
@import "font.css";
@import "slick-slider.less";

/*** default ***/
body {
  font-size: 100%;
  font-family: 'FiraSans-Regular', sans-serif;
}

#main {
  height: 100%;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
}

/*** team-section ***/
.team {

}

/*** portfolio-section ***/
.portfolio {

}



