@import "reset.css";
@import "font.css";
@import "slick-slider.less";

/*** default ***/
body {
  font-size: 100%;
  font-family: 'FiraSans-Regular', sans-serif;
}

#main {
  height: 100%;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
}


/*** logo ***/
.logo {
  color: black;
  display: inline-block;
  font-size: 2.125em;
  font-family: 'FiraSans-Bold', sans-serif;
  text-transform: lowercase;

  &__star {
    display: inline-block;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 23px;
      height: 22px;
      position: absolute;
      top: -.1em;
      right: -29%;
      background: url("../img/logo-star.png") no-repeat;
      background-size: 100% 100%;
    }
  }

  &--header {
    float: left;
    margin-top: .2em;
    line-height: .96em;
  }
}

/*** team-position ***/
.team-position {
  color: black;
  font-size: 1.125em;
  font-family: 'FiraSans-Bold', sans-serif;

  &--header {
    float: left;
    margin: .125em 0 0 3.4%;
  }
}

/*** navigation ***/
.navigation {
  float: right;
  width: 40px;
  height: 26px;
  cursor: pointer;
  background: url("../img/menu-icon.png") no-repeat;
}

/*** brand-name ***/
.brand-name {
  color: black;  /* Fallback: assume this color ON TOP of image */
  //width: 35%;
  font-family: 'FiraSans-Bold', sans-serif;
  font-size: 14.7em;
  line-height: .82em;
  text-transform: lowercase;

  &__text {
    display: inline-block;

    i {
      float: left;
      font-style: normal;
    }
  }

  &--presentation {

    .brand-name__text {
      background: url("../img/whale-bg.jpg") no-repeat 56% -38%;
      background-size: 215%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__star {
    font-size: .74em;
    line-height: .8em;
  }
  &__W {
    margin-left: 5.6%;
  }
  &__H {
    margin-left: 13%;
  }
  &__A {
    line-height: .99em;
    margin-left: 12%;
  }
  &__L {
    line-height: .99em;
    margin-left: 23%;
  }
  &__E {
    line-height: 1.16em;
    margin-left: -28%;
  }
}