.footer {
  position: relative;
  top: -2px; /* fix gap*/
  height: 15em;
  background: black;

  &__body {
    position: relative;
    width: 91.458333333333%;
    height: 100%;
    margin: 0 auto;
  }

  &__social {
    position: absolute;
    right: 0;
    bottom: 4em;
  }
  &__social-slogan {
    font-family: 'FiraSans-Regular', sans-serif;
    font-size: 2.25em;
  }
}