/*** navigation ***/
.navigation {
  float: right;

  &__icon {
    position: relative;
    z-index: 310;
    width: 40px;
    height: 30px;
    cursor: pointer;
    transform: rotate(0deg);

    span {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      opacity: 1;
      transform: rotate(0deg);
      background: black;
      transition: .3s all;

      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 12px;
      }
      &:nth-child(4) {
        top: 24px;
      }
    }

    &--open {

      span {
        &:nth-child(1) {
          width: 0;
          top: 12px;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          width: 0;
          top: 12px;
          left: 50%;
        }
      }
    }

    &--white {
      span {
        background: white;
      }
    }
  }

  &__sign {
   position: absolute;
   bottom: 1.6em;
   right: 1.3%;
   width: .8em;
   font-size: 2.875em;
   font-family: 'FiraSans-Regular', sans-serif;
   text-align: left;
   word-wrap: break-word;
  }
}
