.what-we-do {
  height: auto;

  &__or {
    position: absolute;
    right: 5%;
    bottom: 5em;
    text-align: right;

    &-text {
      font-family: 'FiraSans-UltraLight', sans-serif;
      font-size: 9em;
    }
  }
  &__breaf-link {
    display: block;
    font-size: 2.75em;
    font-family: 'FiraSans-Bold', sans-serif;
    text-decoration: underline;
    margin-top: .5em;
  }


  @media only screen and (max-width: 600px)  {
    &__or {
      position: static;
      text-align: left;
    }
  }
}
